<div class="welcome">
  <h1>{{ user.username }} خوش آمدید</h1>
</div>
<h2 class="untilNow">
  خلاصه امروز
</h2>
<div class="userCard">
  <div class="card">
    <h4 class="headline">
      بازدید ها
      <i class="fas fa-eye"></i>
    </h4>
    <p class="value">
      <i class="fas fa-eye"></i>
      {{ views.toDay }}
    </p>
    <p [class]="['total', ((views.toDay - views.tomorrow) >= 0? 'green': 'red')]">
      {{(views.toDay - views.tomorrow) >= 0? "+": "" }}{{views.toDay - views.tomorrow}}
      <i class="fas fa-caret-up"></i>
    </p>
  </div>
  <div class="card">
    <h4 class="headline">
      سفارشات
      <i class="fas fa-shopping-cart"></i>
    </h4>
    <p class="value">
      <i class="fas fa-shopping-cart"></i>
      {{ ordersCount.toDay }}
    </p>
    <p [class]="['total', ((ordersCount.toDay - ordersCount.tomorrow) >= 0? 'green': 'red')]">
      {{(ordersCount.toDay - ordersCount.tomorrow) >= 0? "+": "" }}{{ordersCount.toDay - ordersCount.tomorrow}}
      <i class="fas fa-caret-up"></i>
    </p>
  </div>
  <div class="card">
    <h4 class="headline">
      تیکت ها
      <i class="fas fa-ticket-alt"></i>
    </h4>
    <p class="value">
      <i class="fas fa-ticket-alt"></i>
      {{ ticketsCount.toDay }}
    </p>
    <p [class]="['total', ((ticketsCount.toDay - ticketsCount.tomorrow) >= 0? 'green': 'red')]"ticketsCount>
      {{(ticketsCount.toDay -ticketsCount.tomorrow) >= 0? "+": "" }}{{ticketsCount.toDay -ticketsCount.tomorrow}}
      <i class="fas fa-caret-down"></i>
    </p>
  </div>
  <div class="card">
    <h4 class="headline">
      فروش
      <i class="fas fa-dollar-sign"></i>
    </h4>
    <p class="value">
      <i class="fas fa-dollar-sign"></i>
      {{ income.toDay }} تومان
    </p>
    <p [class]="['total', ((income.toDay - income.tomorrow) >= 0? 'green': 'red')]">
      {{(income.toDay - income.tomorrow) >= 0? "+": "" }}{{income.toDay - income.tomorrow}}
      <i class="fas fa-caret-up"></i>
    </p>
  </div>
</div>
