<div class="welcome">
    <h1>{{ user.username }} خوش آمدید</h1>
</div>
<h2 class="untilNow">
    خلاصه امروز
</h2>
<div class="userCard">
    <div class="card">
        <h4 class="headline">
            بازدید ها <i class="fas fa-eye"></i>
        </h4>
        <p class="value">
            <i class="fas fa-eye"></i> 1000
        </p>
        <p class="total green">
            +3 <i class="fas fa-caret-up"></i>
        </p>
    </div>
    <div class="card">
        <h4 class="headline">
            سفارشات <i class="fas fa-shopping-cart"></i>
        </h4>
        <p class="value">
            <i class="fas fa-shopping-cart"></i> 3
        </p>
        <p class="total green">
            +1 <i class="fas fa-caret-up"></i>
        </p>
    </div>
    <div class="card">
        <h4 class="headline">
            تیکت ها <i class="fas fa-ticket-alt"></i>
        </h4>
        <p class="value">
            <i class="fas fa-ticket-alt"></i> 0
        </p>
        <p class="total red">
            -1 <i class="fas fa-caret-down"></i>
        </p>
    </div>
    <div class="card">
        <h4 class="headline">
            فروش <i class="fas fa-dollar-sign"></i>
        </h4>
        <p class="value">
            <i class="fas fa-dollar-sign"></i> 2,000,000 تومان
        </p>
        <p class="total green">
            +200,000 <i class="fas fa-caret-up"></i>
        </p>
    </div>
</div>