div.orders {
    padding: 10px;
}
div.order-table {
    margin-top: 30px;
    div.total {
        display: flex;
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 2px solid #aaa;
        color: #666;
    }
    div.filter-by {
        select {
            color: #333;
            border: none;
            background-color: #ddd;
            border-radius: 0px;
            text-align: center;
            padding: 5px 15px;
            text-align: center;
            font-size: 1.1em;
            cursor: pointer;
            margin: 0 7px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.253);
            * {
                color: #555;
                box-shadow: 0 0 0 #000;
                padding: 5px;
                background-color: #d5d5d5;
                outline: none;
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
    }
}