<div class="orders">
  <h1 class="title">
    سفارشات
  </h1>
  <table class="table table-striped orders-table mt-5">
    <thead>
      <tr>
        <th>کاربر</th>
        <th>ایمیل</th>
        <th>آدرس</th>
        <th>شماره تماس</th>
        <th>نام و تعداد محصول</th>
        <th>قیمت کل</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderList">
        <td>{{ item.user_name }}</td>
        <td>{{ item.user_mail }}</td>
        <td>{{ item.user_address }}</td>
        <td>{{ item.user_phone }}</td>
        <td>
          <span *ngFor="let order of itme.user_orders">
            {{ order.order_productName }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>