<div class="orders">
  <h1 class="title">
    سفارشات
  </h1>
  <table class="table table-striped orders-table mt-5">
    <thead>
      <tr>
        <th>کاربر</th>
        <th>ایمیل</th>
        <th>آدرس</th>
        <th>شماره تماس</th>
        <th>نام و تعداد محصول</th>
        <th>قیمت کل</th>
        <th> وضعیت </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderList">
        <td>{{ item.user_name }}</td>
        <td>{{ item.user_mail }}</td>
        <td>{{ item.user_address }}</td>
        <td>{{ item.user_phone }}</td>
        <td>
          <div *ngFor="let order of item.user_orders">
            {{ order.order_productName }} {{ (order.order_amount > 1)? order.order_amount + "x" : "" }}
          </div>
        </td>
        <td>
          {{ fullPrice }}T
        </td>
        <td>
          <span *ngIf="item.deliveryReport === 'waiting' " >
            <span class="text-warning"> در حال انتظار </span>
          </span>
          <span *ngIf="item.deliveryReport === 'recived' " >
            <span class="text-success"> تحویل داده شده </span>
          </span>
          <span *ngIf="item.deliveryReport === 'canceled' " >
            <span class="text-danger"> کنسل شده </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>