nav {
    height: 100%;
    width: 200px;
    position: fixed;
    right: 0px;
    top: 0px;
    border-radius: 20px 0px 0px 20px ;
    background-image: linear-gradient(to bottom , #373B44 , #4286f4 );
    color: var(--nav-fore-color);
    direction: rtl;
    text-align: right;
    ul {
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 70%;
        margin-top: 10px;
        padding: 10px;
        li {
            align-items: center;
            display: flex;
            margin: 10px 0;
            height: 65px;
            flex: 1;
            padding: 0 10px;
            border-radius: 0px;
            text-align: right;
            position: relative;
            cursor: pointer;
            span {padding: 0 10px;}
            &:hover {
                color: var(--username-color);
            }
            &:focus {
              outline: none;
            }
            &::before {
                content: '';
                border-bottom: 1px solid #a17fe0;
                position: absolute;
                bottom: 1px;
                width: 0%;
                opacity: 0;
                right: 0;
                transition: 0.5s ease;
              }
              &.active {
                &::before {
                    opacity: 1;
                    width: 100%;
                }
                i {
                    color: #a17fe0;
                }
                color: #d6caed;
            }
        }
    }
    div.username {
        text-align: center;
        padding-top: 10px;
        div.name {
            font-weight: 700;
        }
        div.role {
            color: var(--role-color);
        }
    }
    div.logout {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        cursor: pointer;
        padding: 20px 0;
    }
}
